<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UBMMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ubmmsEntities" connectionString="metadata=res://*/UBMMSModel.csdl|res://*/UBMMSModel.ssdl|res://*/UBMMSModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=172.16.149.45;user id=ubmdev;password=S0ftw4r3;persistsecurityinfo=True;database=ubmms&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <UBMMS.Properties.Settings>
      <setting name="Document1" serializeAs="String">
        <value />
      </setting>
      <setting name="Document2" serializeAs="String">
        <value />
      </setting>
      <setting name="Document3" serializeAs="String">
        <value />
      </setting>
      <setting name="Document4" serializeAs="String">
        <value />
      </setting>
      <setting name="Document5" serializeAs="String">
        <value />
      </setting>
    </UBMMS.Properties.Settings>
  </userSettings>
</configuration>